header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfc6c;
  background-image: url("../images/asfalt-dark.png");
  height: 520px;
  width: 100%;
  margin-top: 120px;
}


